@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.section5 {
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
  }

  .section5 .container {
    width: 840px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

.project-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 36px;
  }
  
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 36px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 6px;
  }
  
  .project-item {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 이미지 기준 중앙 정렬 */
  }
  
  .image-wrapper {
    width: 100%;
    height: 155px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  .project-item:hover img {
    transform: scale(1.03); /* 사각형 내부 확대 */
  }
  
  .project-item h3 {
    width: 170px;
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 6px;
    position: relative;
    display: inline-block;
  }
 
  .project-item h3::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: #000;
    transition: width 0.3s ease;
  }
  
  .project-item:hover h3::after {
    content: "";
    position: absolute;
    height: 1px;
    background: black;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 100%; /* 이젠 fit-content 기반으로 작동됨 */
  }
  
  .project-item p {
    width: 170px;
    height: 212px;
    font-size: 15px;
    line-height: 200%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }