@charset "utf-8";
@import url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');

@font-face {
    font-family: 'Cocogoose';
    src: url('../assets/cocogoose/Cocogoose-Pro-Regular-trial.ttf');
}

/* 공통 */
html { font-size: 10px; } 
body { font-family: "Pretendard-Regular", sans-serif; font-size: 1.5rem; color: #1b1b1b; } 
h2 { font-family: "Cocogoose"}
h2 { font-size: 3.8rem; font-weight: 400;}
p { font-size: 1.6rem; font-weight: 400;}
span { font-size: 1.6rem; font-weight: 400;}
a { font-size: 1.6rem; color: #121212;}

/* 헤더 */
header a { font-size: 1.8rem; font-weight: 800; color: #121212;}
/* 섹션1 */
#s1 p {font-size: 60px; font-weight: 600; color: #fff; text-shadow: 0 0 5px #111;}

/* 섹션3 */
#s3 p { font-size: 2.2rem;}

/* 섹션5 */

#s5 p { font-size: 2.2rem;}